{% extends "template.html" %}
{% block content%}
<div style="background-color:#949495; margin:10px;padding:10px;">
    <a href="/" style="margin:20px; display:inline;">
        <button style="background-color:silver;font-size:20px;">戻る</button>
    </a>
</div>
<form action="/delete" method="POST">
<div style="text-align:center">
    <p>{{example}}</p>
    <a>名前:</a><input type="text" name="name">
    <a>OTP:</a><input type="text" name="password">
    <input type="submit" value="送信">
    <p>{{example}}</p><p>{{result}}</p>
</div>
</form>

{% endblock %}